.card {
	position: relative;
	min-width: 242px;
	width: 242px;
	max-height: 435px;
	box-shadow: 0px 2px 10px rgba(50, 50, 71, 0.14);
	border-radius: 4px;
	padding: 16px 12px;
	margin: 16px;
	display: flex;
	flex-direction: column;
	background: var(--bg-device-card);

	&:hover .footer {
		opacity: 1;
		visibility: visible;
	}
}

.cardVertical {
	position: relative;
	min-width: 242px;
	width: 90%;
	max-height: 435px;
	box-shadow: 0px 2px 10px rgba(50, 50, 71, 0.14);
	border-radius: 4px;
	padding: 16px 12px;
	margin: 16px;
	display: flex;
	background: var(--bg-device-card);

	&:hover .footer {
		opacity: 1;
		visibility: visible;
	}

	.header {
		position: absolute;
		right: 40px;
		top: 35px;
	}

	.body {
		flex-direction: row;
		align-items: center;

		.name {
			margin-left: 20px;
		}

		.rate {
			position: absolute;
			top: 80px;
			right: 40px;
		}

		.saleBlock {
			margin-top: 100px;
			width: 170px;
		}
	}

	.footer {
		display: none;
	}
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	user-select: none;
	color: var(--icon-dark-blue);

	.new {
		position: absolute;
		padding: 3px 5px;
		top: 15px;
		left: 0;
		color: white;
		background: var(--icon-const-red);
	}
}

.body {
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;

	img {
		width: 218px;
		height: 214px;
	}

	.name {
		flex: 1;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.rate {
	margin-top: 12px;
	font-size: 20px;
	color: var(--rate-yellow);
}

.saleBlock {
	margin-top: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	button {
		width: 73px;
		min-width: 0;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 700;
	}
}

.price {
	position: relative;
}

.unStock {
	text-decoration: line-through;
	color: #cccccc;
	position: absolute;
	top: -12px;
}

.stock {
	color: var(--text-red);
	margin-left: 10px;
	margin-top: 5px;
}

.heart {
	font-size: 25px;
	cursor: pointer;
	color: var(--icon-card-dark-blue);
}

.basket {
	font-size: 25px;
	cursor: pointer;
	color: var(--icon-card-dark-blue);
	margin-right: 10px;
}

.scales {
	font-size: 25px;
	cursor: pointer;
	color: var(--icon-card-dark-blue);
	margin-right: 10px;
}

.heartActive {
	font-size: 25px;
	cursor: pointer;
	color: var(--icon-const-red);
}

.footer {
	width: 100%;
	background: var(--bg-device-card);
	position: absolute;
	top: 98%;
	left: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	border-radius: 0 0 4px 4px;
	border-bottom: 1px solid rgba(117, 117, 117, 0.433);
	border-left: 1px solid rgba(117, 117, 117, 0.433);
	border-right: 1px solid rgba(117, 117, 117, 0.433);
	pointer-events: none;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 12px 12px;

	.infoList {
		display: flex;
		flex-direction: column;
	}

	.infoTitle {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
