.card {
	width: 250px;
	height: 320px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 0 0 5px black;
	border-radius: 4px;
	margin: 40px 50px;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
	background: var(--bg-device-card);

	&:hover {
		transform: translateY(-10px);

		h4 {
			color: var(--icon-dark-blue);
		}
	}

	svg {
		width: 210px;
		height: 210px;

		& * {
			stroke: var(--neon-blue-button);
		}
	}

	h4 {
		font-size: 24px;
		text-align: center;
		font-weight: 550;
	}
}
