.errorBlock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 48px;
		margin-top: 15px;
	}

	span {
		font-size: 148px;
	}

	p {
		margin-top: 25px;
		font-size: 38px;
	}
}
