body[data-theme='light'] {
	--bg-white: white;
	--bg-gray: rgb(214, 214, 214);
	--bg-dark-blue: #060f42;
	--bg-header-white: white;
	--bg-lime: #06a56c;
	--bg-device-card: white;
	--text-black: black;
	--text-white: white;
	--text-red: #ea4335;
	--text-const-white: white;
	--icon-dark-blue: #060f42;
	--icon-card-dark-blue: #01579b;
	--icon-const-dark-blue: #060f42;
	--icon-const-blue: #01579b;
	--icon-const-blue-hover: #014274;
	--icon-const-red: #ea4335;
	--box-shadow-black: 0px 4px 4px rgba(0, 0, 0, 0.06);
	--rate-yellow: rgb(220, 195, 33);
	--neon-blue-button: #091768;
	--logo-blue: #01579b;
	--bg-loader: #e0e0e0;
	--loader-color: #337ab7;
	--select-bg: white;
	--select-value: gray;
	--select-option-hover: rgb(29, 198, 217);
}

body[data-theme='dark'] {
	--bg-white: #2a2738;
	--bg-gray: rgb(70, 70, 70);
	--bg-dark-blue: #111135;
	--bg-header-white: #111135;
	--bg-lime: #06a56c;
	--bg-device-card: rgb(25, 25, 38);
	--text-black: white;
	--text-white: black;
	--text-red: white;
	--text-const-white: white;
	--icon-dark-blue: #ffffff;
	--icon-card-dark-blue: #ffcd1b;
	--icon-const-dark-blue: #060f42;
	--icon-const-blue: #01579b;
	--icon-const-blue-hover: #014274;
	--icon-const-red: #ea4335;
	--box-shadow-black: 0px 4px 4px rgba(0, 0, 0, 0.06);
	--rate-yellow: rgb(220, 195, 33);
	--neon-blue-button: #ffcd1b;
	--logo-blue: white;
	--bg-loader: #211f2d;
	--loader-color: #ffcd1b;
	--select-bg: rgb(25, 25, 38);
	--select-value: white;
	--select-option-hover: rgb(29, 198, 217);
}
