.header {
	width: 100%;
	box-shadow: var(--box-shadow-black);
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	user-select: none;
}

.navbarOne {
	background: var(--bg-dark-blue);
	height: 40px;
	color: var(--text-const-white);
}

.navbarOneContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.burgerAndList {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 5px;

	& * {
		stroke: var(--logo-blue);
		fill: var(--logo-blue);
	}
}

.navList {
	display: flex;
	font-size: 10px;

	li {
		font-size: 16px;
		cursor: pointer;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}

	li:not(:last-child) {
		margin-right: 24px;
	}
}

.navbarTwo {
	height: 97px;
	background-color: var(--bg-header-white);
}

.navbarTwoContent {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.iconList {
	display: flex;
	margin-left: 5px;
	color: var(--icon-dark-blue);

	.iconListItem:not(:last-child) {
		margin-right: 20px;
	}
	.iconListItem {
		cursor: pointer;
		position: relative;

		.icon {
			cursor: pointer;
			width: 38px;
			height: 38px;
		}

		sub {
			width: 25px;
			height: 25px;
			position: absolute;
			top: -8px;
			left: -8px;
			background-color: var(--bg-lime);
			padding: 3px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			font-size: 12px;
		}
	}
}

.iconListWhite {
	display: none;

	.icon {
		color: white;
		cursor: pointer;
		width: 34px;
		height: 34px;
	}
}

.auth {
	cursor: pointer;
	font-size: 32px;
	color: var(--text-const-white);
	transition: opacity 0.3s ease-in-out;

	&:hover {
		opacity: 0.8;
	}
}

.contact {
	margin-left: 16px;
	font-weight: 700;
	font-size: 18px;
}

.menuBurger {
	margin-right: 20px;
	width: 24px;
	height: 24px;
	padding: 3px 1px;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;

	span {
		position: absolute;
		height: 2px;
		width: 22px;
		background-color: white;
		border-radius: 2px;

		&::after,
		&::before {
			content: '';
			position: absolute;
			display: block;
			height: 2px;
			width: 22px;
			background-color: white;
			border-radius: 2px;
		}

		&::after {
			top: 6px;
		}

		&::before {
			bottom: 6px;
		}
	}
}

.logoWhite {
	display: none;
}

.searchIcon {
	display: none;
	font-size: 36px;
	cursor: pointer;
}

.rightBlock {
	display: flex;
	align-items: center;

	.themeIcon {
		font-size: 22px;
		margin-right: 15px;
		cursor: pointer;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}
}

@media screen and (max-width: 1024px) {
	.navbarTwo {
		background-color: var(--bg-dark-blue);
		color: white;
	}

	.logoWhite {
		display: block;
	}

	.navList {
		display: none;
	}

	.iconList {
		display: none;
	}

	.iconListWhite {
		display: block;
		margin-left: 20px;
	}

	.contact {
		display: none;
	}

	.navbarOne {
		padding: 20px 20px 0 20px;
	}

	.navbarTwo {
		padding: 0 20px;
	}

	.logo {
		display: none;
	}
}

.profile {
	display: flex;
	a {
		display: flex;
		align-items: center;
	}
	.arrow {
		color: var(--text-const-white);
		cursor: pointer;
		font-size: 20px;
	}
	.userAvatar {
		cursor: pointer;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-left: 10px;
	}
}

@media screen and (max-width: 570px) {
	.searchBlock {
		display: none;
	}

	.iconListWhite {
		margin-left: 20px;
	}

	.searchIcon {
		display: block;
	}
}
