.greenButton {
	background: #06a56c;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9px 12px;
	border-radius: 4px;
	color: white;
	margin-right: 16px;
	min-width: 180px;
	transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

	&:hover {
		color: rgba(255, 255, 255, 0.8);
		background: #09915f;

		img {
			opacity: 0.8;
		}

		.icon {
			opacity: 0.8;
		}
	}

	img {
		transition: opacity 0.3s ease-in-out;
		margin-left: 10px;
	}

	.icon {
		transition: opacity 0.3s ease-in-out;
		margin-left: 10px;
	}
}
