.confirm {
	min-width: 320px;
	margin: 0 20px;
	width: 100%;
	max-width: 500px;

	h1 {
		font-weight: 550;
		font-size: 24px;
	}

	.confirmButtons {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			width: 40%;
		}
	}
}
