.redButton {
	background: #ea4335;
	border-radius: 4px;
	padding: 6px 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

	&:hover {
		background: #cd3b2e;
		color: rgb(236, 236, 236);
	}
}
